div.option-button {
    width: 100px;
    height: 40px;
    border: 1px solid #9381FF;
    border-radius: 20px;
    opacity: 1;
    font-size: 14px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

div.selected {
    font-weight: 600;
}

div.unselected {
    font-weight: lighter;
}

div.option-button:hover {
    cursor: pointer;
}
