/* override dropdown menu color */
div.ui.dropdown .menu{
    background: linear-gradient(#9381ff, #bbf0ff);

}

/* override the color of the text in the input */
div.ui.dropdown > .text {
    color: #c0fdff;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  }

/* override gradient input border and input background color */
  div.ui.search.dropdown {
     background-color: transparent;
     border-width: 0px;
     font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
     border-radius:1.2em;
  }

  /* override dropdown menue border-radius*/
  div.ui.selection.dropdown .menu {
    border-radius: 0.5em;
  }


  /* the container above the account address and account balance*/
  .account-container{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 1.2em;
    background: 
    linear-gradient(#070020,#070020) padding-box, /*this is the background color*/
    linear-gradient(to right, #bbf0ff, #9381ff) border-box; /* this is the gradient background color*/
    border: 0.2em solid transparent;
    width: 251px;
    justify-items: center;
    font-size: 14px;

  }

/* the account balance section*/
  .account-item-left{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:50%;
    margin-left: 1.2em;
    margin-right: 0 em;
    border-right: 1px solid #9381ff; /* the vertical splitting line*/
    order:1;
  }

  /* the adress drop down menu section*/
  .account-item-right{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    width:50%;
    margin-left: 0 em;
    margin-right: 1.2 em;
    order:2;
  }







