div.hint {
    width: 100%;
    display: flex;
    font-size: 12px;
    align-items: baseline;
    padding-left: 5px;
    color: white;
}

div.hint-text {
    width: 95%;
    font-weight: lighter;
    padding-left: 10px;
    word-wrap: break-word;
}
