div.header {
    width: 100%;
    max-width: 1680px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
