div.label {
    color: #9381FF;
    font-weight: 600;
    font-size: 14px;
}

div.space {
    justify-content: space-between;
}

div.autoColumn {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 12px;
}

div.inputContainer {
    flex: 1;
    padding: 1rem;
}

div.inputPanel {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    border-radius: 1.25rem;
    z-index: 1;
    width: 100%;
}