@media (min-width: 900px) {
    div.market {
        display: flex;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 900px) {
    div.market {
        margin: 0;
        position: absolute;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media (min-width: 900px) and (min-height: 700px) {
    div.market > img.logo {
        position: absolute;
        top: -68px;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media (min-width: 900px) and (max-height: 700px){
    div.market > img.logo {
        display: none;
    }
}

@media (max-width: 900px) {
    div.market > img.logo {
        display: none;
    }
}
