.tranButton .ui.button{
    width: 177px;
    height: 45px;
    border: 1px solid #9381FF;
    border-radius: 16px;
    opacity: 1;
    background-color: #7401b8;
    color: #C0FDFFCC;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    font-size: 18px;
    font-weight: 600;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.tranButton .ui.button:focus {
    outline:0;
}

.tranButton .ui.button:hover {
    cursor: pointer;
    background-color: #7401b8;
}

.tranButton .ui.button:active {
    background-color: blueviolet;
}

.tranButton .ui.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.tranButton .ui.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.tranButton .ui.button:hover span {
    padding-right: 15px;
}

.tranButton .ui.button:hover span:after {
    opacity: 1;
    right: 0;
}

.tranButton .ui.button[disabled] {
    color: #A0A0A0;
}

.tranButton .ui.button[disabled]:hover {
    cursor: default;
    background-color: #7401b8;
}

.tranButton .ui.button[disabled] span {
    cursor: default;
}

.tranButton .ui.button[disabled] span:after {
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    transition: 0.5s;
}

.tranButton .ui.button[disabled]:hover span {
    padding-right: 0;
}
