div.token-input-container {
    width: 350px;
    height: 70px;
    border: 1px solid #9381FF;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.label-error-balance {
    font-weight: lighter;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

div.token-input-error {
    color: orangered;
}

div.token-input-no-error {
    display: none;
}

div.input-and-dropdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.input-and-dropdown > input {
    background: transparent;
    border: none;
    font-weight: lighter;
    font-size: 19px;
    color: #C0FDFF;
    width: 80%;
}

div.input-and-dropdown > input:focus {
    outline:0;
}

div.input-and-dropdown > .ui.fluid.dropdown {
    width: 20%;
    padding-left: 0;
}

div.input-and-dropdown > .ui.search.dropdown > .text {
    left: 10px;
}

div.input-and-dropdown > .ui.selection.dropdown > .dropdown.icon {
    right: 0
}

div.input-and-dropdown > .ui.dropdown .menu > .item {
    display: flex;
    align-items: center;
}

div.input-and-dropdown > .ui.dropdown .menu > .item > .image{
    width: 22px;
}

div.input-and-dropdown>.ui.selection.dropdown .menu {
    width: calc(150% + 2px);
    left: -50%;
}
